<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="section">
      <div class="container">
        <div class="row" style="vertical-align:center;">
          <div class="col-md-6">
    <div class="page-header">
              <h1>EZ3 Admin&nbsp;
                <small>Orders</small>
              </h1>
            </div>


            <form role="form" method="post">
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Username</label>

                <input class="form-control" id="exampleInputEmail1" placeholder="Username" name="user"
                type="text">

              </div>

              <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Password</label>

                <input class="form-control" id="exampleInputPassword1"
                placeholder="Password" type="password" name="password">

              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </body>

</html>
